*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;    

  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #111;
}

#spaceCraftText{
  width: 1100px;
  padding: 25px;
  margin-left: 20px;
}

.textDesc{
  margin-left:125;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url("spacexArch.jpg") no-repeat center center;
  background-size: cover;
}
.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
          animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 15px;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #ededed;
}

.logo {
  height: 75px;
  float: left;
}
.logo:before, .logo:after {
  position: absolute;
  font-size: 7em;
  font-weight: 300;
  line-height: 0;
  color: #fff;
  top: 25px;
}
.logo:before {
  /* content: '\00BB'; */
  left: 20px;
}
.logo:after {
  /* content: '\00AB'; */
  left: 34px;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  #navHeader{
    /* background-color: #1c4ff7; */
  }
  
  #header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: 100px 50px;
    padding: 25px;
    font-size: 35px;

  }

  footer {
    position:relative;
    bottom:0;
    width:100%;
    height:100px;   
    font-size: 16px;
    text-align: center;
    /* background:blue;//optional */
 }
 

  #homeTitle{
    color: #0b2d9b;
    font-family: 'Raleway', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Gruppo', cursive;
    font-weight: 1000;

  }

  #homeInfo{
      font-size: 20px;
  }
  
  #POTD{
      text-align: center;
      font-family: 'Open Sans', sans-serif;
  }
  .potdTITLE{
      text-align: center;
      font-family: 'Open Sans', sans-serif;
  }
  .button {
    list-style: none;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1a80e0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button:visited{
      display: none;
  }
  
  .button:hover {background-color: #1d5d99}

  /* .button::after{
      visibility: hidden;
  }
   */
  .button:active {
    background-color: #1d5d99;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
/* 
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  } */

  #expDiv{
      text-align: center;
  }

  .potdDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #potdDesc{
      font-size: 17px;
      padding-left: 200px;
      padding-right: 200px;
  }

  #potdTitle{
      text-align: center;
  }
  #potdImage{
      margin-left: auto;
      margin-right: auto;
  }
  #potdCR{
      font-size: 18px;
      text-align: center;
  }
/*  
  .nav-links{
    flex: 1;
    text-align: right;
  } 

  .nav-link ul h1{
      text-align: left;
  }
  
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #1a47db;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after{
    width: 100%;
  } */

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
  border-color: #1a47db;
  border-style:double;
  
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.075);
	color: #fff;
}

tr{
  font-size: 15px;
}

th {
	text-align: left;
  background-color: rgba(53, 50, 50, 0.075)
}

thead th{
	background-color: #55608f;
}

tbody tr :hover{
	background-color: rgba(255,255,255,0.075);
}
tbody td {
		position: relative;
}
tbody td :hover :before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}

#craftText{
  font-size: 15px;
  float: right;
}

#craftImg{
  float: left;
}

/* .left-column{ 
	width: 50%;
} 
.right-column{ 
	width: 50%;
}  */
