{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <nav>
        <img src="static/images/logo.png" width="110" height="110">
        <div class="logo"></div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/launch">LAUNCH</a></li>
            <li><a href="/spacecraft">SPACECRAFT</a></li>
            <li><a href="/people">PEOPLE</a></li>
            <li><a href="/links">LINKS</a></li>
        </ul>
      </nav>
      <header>
        <div class="headline">
          <div class="inner">
            <h1>THE SPACE CENTER</h1>
            <br><br>
            <p>Welcome! The Space Center includes all things Space. You will be able to find out information to the next 5 launches
            from around the globe. You'll be able to check out information on current and old spacecraft, as well as see which astronauts
            are currently in space.
            </p>
          </div>
        </div>
      </header>
    <!-- <div id="header" style="background:linear-gradient(rgba(170, 172, 177, 0.7),rgba(170, 172, 177, 0.7)),url('static/images/background.jpg');">  -->
    <div id="header" style="background-color: rgb(56, 56, 56);"> 
    <br><br>
    <br>
    <h2 class="potdTITLE">Photo of the Day</h2>
    <br>
    <div class="potdDiv">
        <br>
        <button class="button" id="button"><li id="expressLink"
            href="/">Display the Picture of the Day</li></button>
        <script src = "{{url_for('static', filename='potd.js')}}"> </script>
    </div>
    <br>
    <div id="expDiv">
        <p id="potdTitle"></p>
        <br>
        <p><div id="potdImage"></div></p>
        <p id="potdCR" ></p>
        <p id="potdDesc"></p>
    </div>
        <br>
        <hr>
        <footer id="footer"><br><br><br>THE SPACE CENTER designed by Billy Fifield | CS361 Final Project</footer>
    </div>
{% endblock %}