<html>
<!-- Adapted from the teams.html UI design -->
<head>
	<title>Teams</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
    <nav>
        <img src="/static/images/logo.png" width="110" height="110">
        <div class="logo"></div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/launch">LAUNCH</a></li>
            <li><a href="/spacecraft">SPACECRAFT</a></li>
            <li><a href="/people">PEOPLE</a></li>
            <li><a href="/links">LINKS</a></li>
        </ul>
    </nav>
    <header>
        <div class="headline">
        <div class="inner">
            <h1>THE SPACE CENTER</h1>
            <br>
        </div>
        </div>
    </header>
        <main id="header" style="background-color: rgb(56, 56, 56);">
        <br>
        <div style="float: left">
            <img id="craftImg" style="float:left" src={{ data['image'] }} width=600 height=400></img></div>
        	<div class="left-column">
            <fieldset id="spaceCraftText">
            <p id="textDesc">{{ data['name'] }}</p>
            <p id="craftText"> {{ data['description'] }} <p> 
            </fieldset>
            </div>
        </main>
        <hr>
        <footer id="footer"><br><br><br>THE SPACE CENTER designed by Billy Fifield | CS361 Final Project</footer>
</body>
</html>