<html>
<!-- Adapted from the teams.html UI design -->
<head>
	<title>SPACE CENTER</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/rocket_logo.png')}}" type="image/x-icon" />
</head>

<body>
    <nav>
        <img src="/static/images/logo.png" width="110" height="110" style="padding:25px;">
        <div class="logo"></div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/launch">LAUNCH</a></li>
            <li><a href="/iss">SPACE STATION</a></li>
            <li><a href="/people">PEOPLE</a></li>
            <li><a href="#">LINKS</a></li>
        </ul>
    </nav>
    <header>
        <div class="headline">
        <div class="inner">
            <h1>THE SPACE CENTER</h1>
            <br>
            <h2>Space Organizations</h2>
        </div>
        </div>
    </header>
        <main id="header" style="background-color: rgb(56, 56, 56);">
        <br>
          <table id="issTable" style="margin-left:auto;margin-right:auto;">
            <tr>
              <th>Organization</th>
              <th>Links</th>
            <tr>
            <tr>
              <td><img src="/static/images/nasa.png" width="200" height="100"></td>
              <td><a class="spaceLink" href="{{ data['nasa'] }}" target="_blank">{{ data['nasa'] }}</a></td>
            </tr>
            <tr>
              <td><img src="/static/images/spacex.png" width="200" height="100"></td>
              <td><a class="spaceLink" href="{{ data['spacex'] }}" target="_blank">{{ data['spacex'] }}</a></td>
            </tr>
            <tr>
              <td><img src="/static/images/boeing.jpeg" width="200" height="100"></td>
              <td><a class="spaceLink" href="{{ data['boeing'] }}" target="_blank">{{ data['boeing'] }}</a></td>
            </tr>
            <tr>
              <td><img src="/static/images/lockheedmartin.png" width="200" height="100"></td>
              <td><a class="spaceLink" href="{{ data['lockheed'] }}" target="_blank">{{ data['lockheed'] }}</a></td>
            </tr>
            <tr>
              <td><img src="/static/images/blueorigin.jpeg" width="200" height="100"></td>
              <td><a class="spaceLink" href="{{ data['blueorigin'] }}" target="_blank">{{ data['blueorigin'] }}</a></td>
            </tr>
            <tr>
              <td><img src="/static/images/virgingalactic.png" width="200" height="100"></td>
              <td><a class="spaceLink" href="{{ data['virgin'] }}" target="_blank">{{ data['virgin'] }}</a></td>
            </tr>
          </table>
        </main>
        <hr>
        <footer id="footer"><br><br><br>THE SPACE CENTER designed by Billy Fifield | CS361 Final Project</footer>
</body>
</html>